@import "../../../chip/chip.scss";

.package-chip-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px 10px;
    justify-items: stretch;

    grid-template-areas:
        "name category"
        "color color"
        "description description"
        "pin-sorting-info pin-sorting-info"
        "pin-sorting pin-sorting"
        ". submit";

    #name {
        grid-area: name;
    }

    #category {
        grid-area: category;
    }

    #color {
        grid-area: color;
    }

    #description {
        grid-area: description;
    }

    #pin-sorting-info {
        grid-area: pin-sorting-info;
    }

    #pin-sorting {
        grid-area: pin-sorting;
    }

    #submit {
        grid-area: submit;
    }

    input {
        padding: 12px 20px;
    }

    .pin-sorting-wrapper {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        .chip-on-board {
            .pin-side {
                border: 1px dashed var(--text-reverse);
                border-radius: 10px;
                z-index: 500;

                .pin {
                    z-index: 505;
                    cursor: move;
                }
            }
        }
    }
}
