$size: 31px;

.action-button {
    width: $size;
    height: $size;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}

.action-button-active {
    background-color: green;
}

.action-button-inactive {
    background-color: white;
}
