@import "../../design.scss";

.toolbox {
    height: $height-toolbox;
    background-color: $color-toolbox;

    .tabnav {
        .tabnav-tabs {
            background-color: $color-board;
        }
    }

    .tab-chips {
        width: 100%;
        height: calc(#{$height-toolbox} - 54px);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}
