@import "../../design.scss";

.toolbox {
    bottom: 0;
    position: fixed;
    width: 100%;

    .tab-chips {
        width: 100%;
        height: calc(#{$height-toolbox} - 46px);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}
