@import "../../design.scss";

.toolbox {
    height: $height-toolbox;
    background-color: $color-toolbox;

    .tabnav {
        .tabnav-tabs {
            background-color: $color-board;
        }
    }
}
