@import "../../../design.scss";

.tabnav {
    .tabnav-tabs {
        display: inline-block;
        padding: 0 5px;
        width: calc(100% - 10px);

        .tabnav-tab {
            display: inline-block;
            min-width: 80px;
            padding: 5px 15px;
            margin-right: 4px;

            text-align: center;
            cursor: pointer;

            background-color: var(--primary-light);
            border-radius: 3px 3px 0px 0px;
        }
        .tabnav-active {
            border-top: 3px solid var(--secondary);
        }
    }
}

@media only screen and (max-width: 900px) {
    .tabnav-tab {
        min-width: 40px !important;
    }
}

@media only screen and (max-width: 500px) {
    .tabnav-tab {
        min-width: 0px !important;
    }
}
