@import "../../design.scss";

.board {
    width: 300vw;
    height: 300vh;
    overflow: hidden;
    position: fixed;

    background-color: var(--primary);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 0.1em, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0.1em, transparent 0);
    background-size: 3em 3em;
}

.board-pan-inactive {
    cursor: grab;
}

.board-pan-active {
    cursor: grabbing;
}
