$toolbar-height: 31px;

.toolbar-button {
    width: $toolbar-height;
    height: $toolbar-height;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.toolbar-button-active {
    background-color: white;
}

.toolbar-button-inactive {
    background-color: transparent;
}
