$toolbar-button-height: 25px;
$toolbar-group-margin-height: 3px;
$toolbar-group-margin-width: 3px;
$toolbar-height: $toolbar-button-height + $toolbar-group-margin-height + $toolbar-group-margin-height;

.toolbar-button {
    width: $toolbar-button-height;
    height: $toolbar-button-height;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.toolbar-button-active {
    background-color: var(--secondary);
    border-radius: 3px;
}

.toolbar-button-inactive {
    background-color: transparent;
}
