@import "../../design.scss";

$pinWidth: 16px;
$pinWidthHalfed: $pinWidth / 2;

.pin {
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;

    border-radius: 50%;
    border: 3px solid var(--text-reverse);
    box-sizing: border-box;

    background-color: var(--text);
}

.pin-tool-rename {
    cursor: text;
}
.pin-tool-delete {
}
.pin-tool-move {
    cursor: pointer;
}

.pin-side-left {
    left: -$pinWidthHalfed;
}

.pin-side-right {
    right: -$pinWidthHalfed;
}

.pin-true {
    background-color: $color-true;
}

.pin-false {
    background-color: $color-false;
}

.pin-error {
    border: 3px solid $color-error;
}
