@import "../../design.scss";

.drawer {
    height: $height-drawer;
    background-color: $color-drawer;

    .tabnav {
        .tabnav-tabs {
            background-color: $color-board;
        }
    }
}
