$size: 31px;

.toolbar-button {
    width: $size;
    height: $size;
    display: inline-block;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.toolbar-button-active {
    background-color: green;
}

.toolbar-button-inactive {
    background-color: white;
}
