@import "../../design.scss";

$chip-height: 50px;

$pinWidth: 16px;
$pinWidthHalfed: $pinWidth / 2;

.chip {
    padding: 5px 10px;
    text-align: center;
    min-width: 100px;
    min-height: $chip-height;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > * {
        color: white;
        font-weight: bold;
        font-size: 16px;
        flex: 0 0;
        white-space: nowrap;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        line-height: 2em;
    }

    .title {
    }

    .binary-display {
        font-family: "DSEG7-Classic";
    }

    .binary-input {
        width: 45px;
    }
}

.chip-on-toolbox-wrapper {
    height: $chip-height;

    .chip-on-toolbox {
        height: $chip-height;
        position: relative;
        margin-left: 10px;

        cursor: pointer;
    }

    .chip-on-toolbox-fake {
        height: $chip-height;
        top: -$chip-height;

        pointer-events: none;
        touch-action: none;
    }
}

.chip-move-inactive,
.chip-move-active {
    cursor: move;
}

.chip-on-board {
    display: inline-flex;

    .pin-side {
        display: flex;
        position: absolute;
        justify-content: space-evenly;

        .pin {
            height: $pinWidth;
            width: $pinWidth;

            border-radius: 50%;
            border: 3px solid var(--text-reverse);
            background-color: var(--text);

            box-sizing: border-box;

            cursor: pointer;
        }

        .pin-tool-rename {
            cursor: text;
        }

        .pin-true {
            background-color: $color-true;
        }

        .pin-false {
            background-color: $color-false;
        }

        .pin-error {
            border: 3px solid $color-error;
        }
    }

    .pins-left {
        flex-direction: column;
        left: -$pinWidthHalfed;
        height: 90%;
        width: $pinWidth;
    }
    .pins-right {
        flex-direction: column;
        right: -$pinWidthHalfed;
        height: 90%;
        width: $pinWidth;
    }
    .pins-top {
        flex-direction: row;
        top: -$pinWidthHalfed;
        width: 90%;
        height: $pinWidth;
    }
    .pins-bottom {
        flex-direction: row;
        bottom: -$pinWidthHalfed;
        width: 90%;
        height: $pinWidth;
    }
}

.chip-tool-move {
    cursor: move;
}

.chip-tool-delete {
    cursor: not-allowed;
}

.chip-role-switch {
    cursor: pointer;
}

.chip-true {
    background-color: $color-true !important;
}

.chip-false {
    background-color: $color-false !important;
}
