@import "../../design.scss";

$chip-height-toolbox: 50px;

.chip {
    padding: 15px 0;
    text-align: center;
    width: 125px;
    min-width: 125px;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    > span {
        color: white;
        font-weight: bold;
        font-size: 16px;
        flex: 0 0;
        white-space: nowrap;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
}

.chip-on-toolbox-wrapper {
    height: $chip-height-toolbox;

    .chip-on-toolbox {
        height: $chip-height-toolbox;
        position: relative;
        margin-left: 10px;

        cursor: pointer;
    }

    .chip-on-toolbox-fake {
        height: $chip-height-toolbox;
        top: -$chip-height-toolbox;

        pointer-events: none;
        touch-action: none;
    }
}

.chip-on-board {
    position: absolute;
}

.chip-tool-move {
    cursor: move;
}

.chip-tool-delete {
    cursor: not-allowed;
}

.chip-role-switch {
    cursor: pointer;
}

.chip-true {
    background-color: $color-true !important;
}

.chip-false {
    background-color: $color-false !important;
}
