$connectorWidth: 16px;
$connectorWidthHalfed: $connectorWidth/2;

.connector {
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;

    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;

    background-color: #fff;
    cursor: pointer;
}

.connector-side-top {
    top: -$connectorWidthHalfed;
}

.connector-side-bottom {
    bottom: -$connectorWidthHalfed;
}

.connector-side-left {
    left: -$connectorWidthHalfed;
}

.connector-side-right {
    right: -$connectorWidthHalfed;
}

.connector-on {
    background-color: green;
}

.connector-off {
    background-color: red;
}

.connector-direction-out {
    background-color: gray;
}

.connector-direction-in {
    background-color: gray;
}
