@import "../../styles/design.scss";

$connectorWidth: 16px;
$connectorWidthHalfed: $connectorWidth/2;

.connector {
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;

    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;

    background-color: #fff;
    cursor: pointer;
}

.connector-side-top {
    top: -$connectorWidthHalfed;
}

.connector-side-bottom {
    bottom: -$connectorWidthHalfed;
}

.connector-side-left {
    left: -$connectorWidthHalfed;
}

.connector-side-right {
    right: -$connectorWidthHalfed;
}

.connector-true {
    background-color: $color-true;
}

.connector-false {
    background-color: $color-false;
}

.connector-floating {
    background-color: $color-floating;
}

.connector-error {
    border: 3px solid red;
}
